<h1>SeeMail</h1>

Thank you for checking out the first iteration of Seemail, which was built for HackPrinceton 2013. New features are currently being developed by our team. Please get in touch with us! We are...<br />
<a href="http://frankjwu.com">Frank Wu</a><br />
<a href="http://www.cs.yale.edu/homes/jrm95/">John Maheswaran</a><br />
<a href="http://jchang.me">Jonathan Chang</a><br />
<a href="mailto:mike.wu@yale.edu">Mike Wu</a><br />
<a href="mailto:charles.jin@yale.edu">Charles Jin</a><br />
