<center><h1>SeeMail</h1><br />
We're a service that allows you to know when your emails have been read without them knowing. We provide read receipts that are unobtrusive and easy to implement.<br /><br />

<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %><br />
Or, if you've already created an account, <%= link_to "sign in here", new_user_session_path %>.</center>