<h2>Your Emails</h2>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><% if email.read %><span class="badge badge-success"><i class="icon-ok"></i></span><% end %></td>
    <td><%= email.body %></td>
    <td><%= link_to 'Delete tracking?', email, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Email', new_email_path %>
