<h4>Copy the text between the lines directly into your email.</h4><br />
---- Start here ----<br />
<p>
	<%= @email.body %><br />
	<%= image_tag(@email.view_signature) %><br /><br />
</p>
---- End here ----<br /><br />

<%= link_to 'Back to the homepage', emails_path %>
